.jogo{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
 
}

img{
    height: 400px;
    margin-left: 300px;
    margin-top: 10px
}

.escolherPalavra{
    margin-left: 750px;
    margin-top: -375px;
}

.escolha{
    background-color: #27ae60;
    border: none;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    box-shadow: 2px 2px 2px 2px rgb(39,174,96);

}

.teclado{
    display: flex;
    flex-wrap: wrap;
    margin-top: 350px;
    margin-left: 330px;
    width: 700px;
}

.vermelho{
    color: red;
}

.verde{
    color:green;
}
.letra{
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 43px;
    height: 35px;
    border: none;
    border-radius: 2px;
    background-color: #9faab5;
    box-shadow: 1px 1px 1px 1px black;
    font-family:'Roboto', sans-serif;
    font-weight: bolder;
}

.chute{
   margin-left: 450px; 
   margin-top: 30px;
}

.chute:hover{
    cursor: pointer;
}

.chute > *{
    margin-left: 10px;
}

.chute input{
    width: 250px;
    background-color: #fafafa;
    border-radius: 3px;
    height: 20px;
}

.chute button{
    height: 30px;
}

.negrito{
    font-weight: bold;
}

.underline{
    margin-left: 750px;
    margin-top: -200px;
}

.linhas{
    font-size: 30px;
    letter-spacing: 10px;
}

.habilitado{
    background-color: #e1ecf4;
    color: #4377a1;
    border:solid;
    border-width: 0.5px;
    border-color:  #4377a1;
    box-shadow: none;
}

.desabilitado{
    background-color:gray;
  
}